.ind_page{
  padding: 50px;
}
.head-top{
  background-color: rgb(228, 225, 225);
  padding: 10px 0 10px 10px;
}

body{
  position: relative;
  min-height: 180vh;
  margin:0;
  font-size: px;
  font-family: sans-sherif;
  }
  h1, h2, h3, h4, h5, h6, a, p, button, span, input {
    font-family: 'Poppins', sans-serif;
}
main{
  border-radius: 0.3rem;
 
  margin: 0 2rem;
}


#first-layout{display: flex;
  flex-direction: column;
  width:90%;
  margin: 2rem 5rem;
  padding: 2rem;
  /*border: 0.1rem solid black;*/
  background-color: grey;
  text-align: center;
  justify-content: center;

}

#second-layout{display: flex;
  width: 90%;
  flex-direction: column;
  margin: 2rem 5rem;
  padding: 2rem;
  /*border: 0.2rem solid grey;*/
  background-color: whitesmoke;
}
