{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section id="first-layout">
        <div class="first-content">
        <h3>Easiest Way To Find Your Dream Apartment</h3>
        </div>
        <div>
        </div>
    </section>

   
    <section id="second-layout">
        <div class="first-content">               
            <h4>Available Apartment</h4>
        </div>

        <div class="boxes">
            <div class="first-box">
                <div class="box-image">
                    <img src="{% static 'images/home2.jpg' %}" alt="">
                </div>
                <div class="box-text">
                    <h3>MM Castle</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Dignissimos, debitis!</p>
                </div>
            </div>
           
            <div class="second-box">
                <div class="box-image">
                    <img src="{% static 'images/home6.jpg' %}" alt="">
                </div>
                <div class="box-text">
                    <h3>MM Castle</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Dignissimos, debitis!</p>
                </div>

            </div>
        </div>
        <div class="boxes">
            <div class="third-box">
                <div class="box-image">
                    <img src="{% static 'images/home4.jpg' %}" alt="">
                </div>
                <div class="box-text">
                    <h3>MM Castle</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Dignissimos, debitis!</p>
                </div>

            </div>
            <div class="fourth-box">
                <div class="box-image">
                    <img src="{% static 'images/home1.jpg' %}" alt="">
                </div>
                <div class="box-text">
                    <h3>MM Castle</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Dignissimos, debitis!</p>
                </div>
            </div>
        </div>
    </section>

  
    <section id="first-layout">
       <div> <h4>
            Find The Best Person To share An Apartment with 
        </h4></div>
        <div class="third-content">
            <label for=""><b></b></label>
            <input type="text" placeholder="" name="" id="text1"><br>
            <label for=""><b></b></label>
            <input type="text" placeholder="" name="" id="text1"><br>
            <label for=""><b></b></label>
            <input type="text" placeholder="" name="" id="text1"><br>
            <button>Find Roommate</button>
         
        </div>
    </section>


      

</main>
{% endblock content %}