{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    
    <!--Search lodges-->
    <div>
        {% include 'search.html' %}
    </div>
    <div id="content-background">
        <div class="row item" >
        
            {% for lodge in lodges %}     
            <div class="col-md-4 col-lg-3 d-flex align-items-stretch mb-3 mb-lg-0">
                <div class="icon-box card-body" data-aos="fade-up">
                    <a id="myImg" href="{% url 'lodge_detail' lodge.id %}">
                        <img src="{{ lodge.imageURL }}" class="card-img-top" alt="Lodge photos" width="300" height="200">
                    </a>
                    <div class="desc" data-aos="zoom-out">
                        <h5 class="card-title">{{lodge.name}}</h5>
                        <p class="card-text">{{lodge.price}}</p>
                        <a href="{% url 'confirm_payment' lodge.id %}">Rent</a>
                    </div>
                </div>
            </div>
  
            {% endfor %}
        </div>
        <div class="view_all" ><a href="{% url 'all_lodges' %}">view</a> all lodges.</div>
    </div>
    <!--Search lodges2 end-->

    <!--Advertisement 1-->
    <p>--Advertisement 1</p>
    
    <div class="container row justify-content-center" data-aos="fade-right">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/0.jpg' %}">
            <div class="box-element prooduct">
                <h6><strong>Lodge </strong></h6>
            </div>
        </div>
        
    </div>
    <!--Advertisement 1 end-->

    <!--popular lodges-->
    <div class="section-title">
        <h2>Popular Lodges</h2>
    </div>
    
    <div class="row item " id="content-background" >
        
        {% for lodge in lodges %}     
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box card-body" data-aos="slide-up">
                <a target="_blank" id="myImg" href="{% url 'lodge_detail' lodge.id %}">
                    <img src="{{ lodge.imageURL }}" class="card-img-top" alt="Lodge photos" width="300" height="200">
                </a>
                <div class="desc" data-aos="zoom-out">
                    <h5 class="card-title">{{lodge.name}}</h5>
                    <p class="card-text">{{lodge.price}}</p>
                
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <!--popular lodges end-->  
    
    <!--Hot lodges-->
    <div class="section-title">
        <h2>Hot Lodges</h2>
    </div>
    
    <div class="row item" id="content-background">
        
        {% for lodge in lodges %}     
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box card-body" data-aos="flip-up">
                <a target="_blank" id="myImg" href="{% url 'lodge_detail' lodge.id %}">
                    <img src="{{ lodge.imageURL }}" class="card-img-top" alt="Lodge photos" width="300" height="200">
                </a>
                <div class="desc">
                    <h5 class="card-title">{{lodge.name}}</h5>
                    <p class="card-text">{{lodge.price}}</p>
                
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <!--Hot lodges end-->
    <!--Advertisement 2-->
    <p>--Advertisement 2</p>    

    <!--Advertisement 2 end-->

    <!--map-->
    <div>
        <div class="section-title">
            <h2>Gidan Kwano Map</h2>
          </div>

    </div>
    <!--map end-->
</div>

{% endblock content %}