{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0 detail-item">
            <div class="sidenaov">
                <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" style="width:100%">

                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">Level</p>
                <p class="text-secondary">{{ user.email }}</p>
                <p class="text-secondary">phone number</p>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Update Profile
                </button>
            
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Profile Info</legend> 
                                    {{ u_form|crispy }}
                                    {{ p_form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a> 
                <a href="#"><i class="fa fa-twitter"></i></a>  
                <a href="#"><i class="fa fa-linkedin"></i></a>  
                <a href="#"><i class="fa fa-facebook"></i></a> 
            </div>
        </div>
        
    </div>
    <div class="col-md-10 col-lg-8 align-items-stretch mb-5 mb-lg-0 infobg">
        <div class="personalinfo">
            <h2>Personal Infomation </h2>
            <h3>Bio</h3>
            
        </div>  
        <div class="lookingfor">
            <h2>Looking for</h2>
            <h3>Bio</h3>
        </div>  
    </div>
</div>
{% endblock content %}